@import "../abstracts/text-styles";
@import "../abstracts/color-styles";

header {
  position: relative;
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72.5%;
    height: 100%;
    margin: 0 auto;
  }
  .logo-nav {
    display: flex;
    align-items: center;
  }
  h1 {
    width: 4.2em;
    padding-top: 4px;
    background-image: url(../assets/svg/bamboo.svg);
    background-repeat: no-repeat;
    background-position: bottom 6px left 10px;
    text-align: center;
    border: 1.18841px solid #ffffff;
    @include logo;
  }
  a {
    color: $color-white;
    transition: color 500ms;
    &:hover {
      color: $color-orange-light;
      transition: color 500ms;
    }
  }
  p {
    @include medium;
    color: #ffffff;
  }
  .hamburger {
    display: none;
  }
}

ul {
  display: flex;
  padding-left: 2.2em;
  li {
    text-align: center;
    padding: 0 1.8em;
    a {
      @include medium;
      color: $color-white;
      transition: color 500ms;
      &:hover {
        color: $color-orange-light;
        transition: color 500ms;
      }
    }
  }
  .active a {
    color: $color-orange;
    cursor: default;

    &:hover {
      color: $color-orange;
    }
  }
}
